body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f6fc;
}

/* NAVBAR */
.navbar {
    background-color: #003f91;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 18px;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: #ffdd57;
}

/* DOCTOR PROFILE */
.doctor-profile {
    width: 85%;
    margin: 40px auto;
}

.doctor-box {
    display: flex;
    background-color: #e7f4ff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

.doctor-box img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 5px solid #0056b3;
    margin-right: 40px;
    object-fit: cover;
}

.info h2 {
    color: #003f91;
    font-size: 28px;
    margin: 0;
}

.info h4 {
    margin: 5px 0 20px 0;
    color: #444;
}

.info p {
    font-size: 17px;
    line-height: 1.6;
}

.info h3 {
    margin-top: 25px;
    color: #003f91;
}

/* Appointment Button */
.appointment-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 22px;
    background-color: #0056b3;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.appointment-btn:hover {
    background-color: #003f8a;
    transform: translateY(-3px);
}
.appointment-btn:active {
    transform: translateY(0px);
}